body {
    font-family: Arial;
    background: #f0f0f0;
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
}

input, button {
    width: 90%;
    padding: 10px;
    margin: 5px;
}
